body {
  margin: 20px;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.sliderContainer {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

#sliderValue {
  margin-left: 10px;
}

canvas {
  border: 1px solid #000;
  /* Center the canvas */
  display: block;
  margin: 0 auto;
}
